*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.courses-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-container{
    width: 350px;
    border: 1px solid black;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.map-container{
    display: flex;
    gap: 30px;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.card-content{
    height: 240px;
}

.button{
    background-color: red;
    color: white;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

.refresh{
    text-align: center;
}